<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./style.css">


    </head>
    <body>
        <button id="button">Spiel suchen</button>

        <p class="hidden" id="text-spielersuche">Spiel wird gesucht</p>

        <script src="./lobby.js"></script>
    </body>

</html>