<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./style.css">


    </head>
    <body>
        <button id="button">Lobby suchen</button>
        


        <script src="./lobby.js"></script>
    </body>

</html>