<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <div id="lobby-container">

        <t> -TicTacToe- </t>
        <button id="button">Spiel suchen</button>

        <p class="hidden" id="text-spielersuche">Spiel wird gesucht</p>

        <div id="spinner" class="hidden lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <script src="./lobby.js"></script>
</body>

</html>