/* general directions for the playfield */
playfield {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    flex: 1;
}

my-timer {
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    height: 20px;
}
/* hidden text -> appears when certian requirements are met */
.hidden {
    visibility: hidden;
    font-style: normal;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: large;
}

/* used to set the background of the winning boxes to green */
.winning-box {
    background-color: #508952;
}

UI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 21px;
    padding: 15px 25px;
    text-align: center;
}

column {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 3;
    flex: 1;
}

PI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 21px;
    padding: 15px 25px;
    text-align: center;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 15px;
    text-align: center;
}

/* revanche button*/
button {
    
    align-self: center;
    visibility: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    display: block;
    font-size: 26px;
    border-radius: 12px;
    border: 3px solid #407d42;
    transition-duration: 0.4s;
    width: 40%;
    padding: 5px;

}
button:enabled:hover {
    background-color: #68a76a;
    color: rgb(221, 239, 216);
}
button:disabled {
    border-color: rgb(167, 167, 167);
}
/*style of all the hidden text: */
.visible {
    visibility: visible;
}

/* building the boxes in the playfield */
my-box {
    display: flex;

    background: rgb(221, 239, 216);
    flex: 1;

    color: rgb(2, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    justify-content: center;
    align-items: center;

    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    user-select: none;
    -webkit-user-drag: none;
}
  
my-box:hover {
    background: #79b17b;
  }

notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}